.home {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: var(--gap1);
}

.my_info {
  width: 100%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #3333;
}

.text_3d {
  font-family: "Arial", sans-serif;
  font-size: calc(26px + (40 - 26) * (100vw - 320px) / (1440 - 320));
  text-align: center;
  font-weight: bold;
  color: #555;
}

.text_3d {
  position: relative;
}

.text_3d span {
  text-shadow: 0 -1px 1px #eee, 0 1px 10px rgba(0, 0, 0, 0.6),
    0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.2),
    0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2),
    0 7px 10px rgba(0, 0, 0, 0.25), 0 15px 10px rgba(0, 0, 0, 0.2),
    0 25px 15px rgba(0, 0, 0, 0.15);
}

.skills {
  width: 100%;
  padding: 3% 5%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: var(--gap2);
  background: #3333;
}

.c3d {
  flex-direction: column;
  align-items: center;
}

.skills > h1 {
  inline-size: 100%;
}

.skills figure {
  background: #444;
  transition: all 0.2s ease-in-out;
  border: 1px solid transparent;
}

.skills :where(figure, button):hover {
  border: 1px solid #ccc4;
}

.skills .skills_item:nth-child(4) > img {
  padding: 5%;
  border-radius: 25px;
}

.skills_item {
  padding: 2%;
  width: calc(100% / 2 - var(--gap2) + 5px);
  aspect-ratio: 1/1;
}
.carusel_container {
  position: relative;
  width: 320px;
  height: 280px;
  perspective: 1000px;
}

.carusel_3d {
  position: relative;
  width: 100%;
  position: relative;
  perspective: 1000px;
}

.projects_item {
  position: relative;
  padding: 0.4%;
  width: calc(100% / 3 - var(--gap2) + 10px);
  aspect-ratio: 7/4;
  overflow: hidden;
}

.skills img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.skills > button {
  padding: 1% 5%;
  display: flex;
  align-items: center;
  gap: 20px;
  border: 1px solid transparent;
  background: #333;
  color: #fff;
  font-size: var(--fs6);
  transition: all 0.2s ease-in-out;
}

.arrow {
  animation: arrow 1s ease infinite;
}

.projects_item__info {
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  padding: 5%;
  background: #0009;
  backdrop-filter: blur(2px);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  font-size: var(--fs8);
  transition: all 0.3s ease-in-out;
}

.projects_item__info > p {
  display: flex;
  flex-direction: column;
  line-height: 1.5;
  color: #eee;
}

.projects_item__info > p > :first-child {
  font-size: var(--fs6);
  color: #fff;
}

.projects_item__info > a {
  padding: 2% 7%;
  display: flex;
  align-items: center;
  gap: 10px;
  border: 1px solid transparent;
  background: #111;
  color: #fff;
  transition: all 0.2s ease-in-out;
}

.projects_item:hover .projects_item__info {
  left: 0;
}

@keyframes arrow {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(15px);
  }
  100% {
    transform: translateX(0);
  }
}
