:root {
  --fs1: calc(26px + (40 - 26) * (100vw - 320px) / (1440 - 320));
  --fs2: calc(24px + (36 - 24) * (100vw - 320px) / (1440 - 320));
  --fs3: calc(22px + (30 - 22) * (100vw - 320px) / (1440 - 320));
  --fs4: calc(20px + (28 - 20) * (100vw - 320px) / (1440 - 320));
  --fs5: calc(16px + (26 - 16) * (100vw - 320px) / (1440 - 320));
  --fs6: calc(14px + (22 - 14) * (100vw - 320px) / (1440 - 320));
  --fs7: calc(13px + (20 - 13) * (100vw - 320px) / (1440 - 320));
  --fs8: calc(12px + (18 - 12) * (100vw - 320px) / (1440 - 320));
  --fs9: calc(12px + (14 - 12) * (100vw - 320px) / (1440 - 320));
  --pd1: 1% 5%;
  --pd2: 2% 5%;
  --gap1: 50px;
  --gap2: 30px;
  --gap3: 20px;
  --gap4: 10px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  user-select: none;
  -webkit-tap-highlight-color: none;
  overscroll-behavior: none;
}

body {
  width: 100%;
  height: 100%;
  background: #333;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

input,
textarea,
button {
  outline: none;
}

::-webkit-scrollbar {
  width: 3px;
  background: #000;
}

::-webkit-scrollbar-thumb {
  background: #ccc;
}
